@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #c5ccda7e;
    font: normal 1em Arial, Verdana, sans-serif;
}
h1 {
    color: #2450A6;
    font: 400 36px 'Roboto', sans-serif;
    width: auto;
    margin: 20px 20px 20px 10px;
}
h2 {
    color: #4465A6;
    font: 400 28px 'Roboto', sans-serif;
    margin-bottom: 40px;
}
p {
    color: #1A1826;
    text-indent: 15px;
    width: auto;
    max-width: 800px;
}
h3 {
    color: #4465A6;
    font: italic 400 22px 'Roboto', sans-serif;
}
h4 {
    font: italic normal 17px 'Roboto', sans-serif;
}
ul {
   list-style-type: none;
   font-size: 18px;
   width: auto;
}
li {
    margin: 20px 0px 20px 0px;
}

div.da {
    width: 100px;
    margin: 0px;
}
div.db {
    display: block;
    position: relative;
    margin-left: 200px;
    margin-top: -210px
}
div.dc {
    display: block;
    position: relative;
    margin-left: 400px;
    margin-top: -210px
}
div#introducao {
    margin: 20px 20px 40px 10px;
    text-align: justify;
}
